.section-title {
    text-align: center;
}

.section-title h1 {
    font-size: 60px;
    font-weight: 900;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(0, 255, 255);
}

#packages {
    width: 100%;
    text-align: center;
    margin-top: 4.5rem;
    background-image:linear-gradient(rgba(0, 106, 106, 0.54) ,rgba(0, 0, 0, 0.54)) ,url("https://cdn.pixabay.com/photo/2017/11/11/21/55/freedom-2940655_960_720.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 10vh 0px;
    transition: all 1s;
}

#packages article {
    text-align: center;
    display: inline-block;
    width: 20%;
    padding: 35px;
    margin: 30px;
    background: linear-gradient(rgba(0, 55, 60, 0.439) , rgba(0, 118, 108, 0.439) , rgba(0, 125, 141, 0.439));
    vertical-align: middle;
    color: white;
    border-radius: 20px;
    margin-top: 3rem;
    box-shadow: inset 0px 1px 1px 1px rgba(255, 255, 255, 0.297);
    animation-name: show;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
}

@keyframes show {
    0%{
    padding: 0px;
        opacity: 0;
    }
    100%{
    padding: 35px;
        opacity: 1;
    }
}

#packages article ul {
    list-style: none;
    margin: 40px 0px;
    padding: 0;
}

#packages article ul li {
    margin: 10px 0px;
}



#packages article h1 {
    color: rgb(171, 255, 255);
    font-size: 25px;
}

#packages article h2 {
    color: rgb(242, 242, 242);
    font-size: 38px;
}

#packages article h3 {
    margin: 20px 0px;
    color: rgb(255, 255, 255);
    font-size: 25px;
}

#packages article div>a button {
    padding: 15px 30px;
    margin: 10px 0px;
    background-color: rgb(0, 34, 34);
    color: white;
    border-radius: 35px;
    font-weight: bold;
    border: 0;
    transition: all 0.2s;
    font-family: inherit;
    font-size: 15px;
}

#packages article div>a button:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 43, 44);
    border-radius: 5px;
    box-shadow: 1px 1px 4px white;
}

#packages article div>a button:active {
    box-shadow: inset 0px 0px 10px 0px black;
}

#packages .plan-highlighted div>a button {
    padding: 15px 30px;
    margin: 10px 0px;
    background-color: rgb(0, 34, 34);
    color: white;
    border-radius: 35px;
    font-weight: bold;
    border: 0;
    transition: all 0.2s;
    font-family: inherit;
    font-size: 15px;
    box-shadow: 1px 1px 4px rgba(255, 255, 255, 0.321);
}

#packages .plan-highlighted {
    background:linear-gradient(rgba(0, 72, 67, 0.772) ,rgba(0, 49, 43, 0.76)) ,url("https://media.istockphoto.com/id/539363966/vector/silver-and-blue-with-concept-diamond.jpg?s=612x612&w=0&k=20&c=dSbsGnxGyxmupwQPOy4Z4LHER79CmTssy63S88wip3A=");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.291);
}

#packages .plan-highlighted h2 {
    color: aqua;
    font-size: 38px;
    text-shadow: 0px 0px 2px white;
}

#packages .plan-highlighted h3 {
    color: rgb(255, 255, 255);
    font-size: 25px;
}

#packages .plan-highlighted .plan-anno {
    background-color: white;
    color: rgb(0, 75, 75);
    padding: 10px 20px;
    border-radius: 10px;
    margin: 20px 50px;
    box-shadow: 1px 1px 2px 1px rgba(255, 255, 255, 0.372);
}
.bg{
    background-image: linear-gradient(rgba(0, 0, 0, 0.645),rgba(0, 0, 0, 0.679)),url("https://cdn.pixabay.com/photo/2017/11/27/21/31/computer-2982270_960_720.jpg");
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#packages_hor{

}
.rec{
    position: absolute;
    top: 0;
    right: 0;
    margin: 30px;
    background-color: white;
    color: rgb(0, 60, 60);
    padding: 15px 15px;
    border-radius: 10px;
}
#packages_hor .section-title{
    padding: 80px 0;
}
.clear{
    clear: both;
}
.art1,.art2,.art3{
    /* width: 70%; */
    padding: 40px 50px;
    color: white;
    margin: 15px 0px;
    font-weight: bold;
    transition: all 1s;
}
.art1{
    background-color: rgb(0, 64, 59);
    position: relative;
}
.art2{
    background-color: rgb(0, 100, 92);
    float: right;
    text-align: right;
}
.art3{
    background-color: rgb(0, 129, 118);
}
#packages_hor article{

}

#packages_hor article h1{

}
#packages_hor article h2{
color: rgb(113, 255, 255);
    margin: 20px 0px;
    font-size: 25px;
}
#packages_hor article h3{
background-color: white;
color: rgb(0, 65, 64);
border-radius: 3px;
border: 1px solid aqua;
padding: 10px 10px;
font-size: 20px;
}

@media screen and (max-width: 750px) {
    .rec {
        position: absolute;
        top: 0;
        right: 0;
        margin: 40px 10px;
        background-color: white;
        color: rgb(0, 60, 60);
        padding: 10px 10px;
        border-radius: 10px;
        font-size: 10px;
    }
}